<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
    <body>
        @Html.Partial("_LoginPartial")

        
                    @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
                
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>    
    </body>
</html>