@using HouseHoldApp.MVC.Models
@model HouseHoldApp.MVC.Models.HouseHoldModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>
        @Model.Name
    </h1>
    <h2>Members</h2>
    @foreach (HouseHoldMemberModel houseHoldMemberModel in @Model.HouseHoldMemberModels)
    {
        UserModel model = houseHoldMemberModel.UserModel;
        string image = "/Content/images/users/" + model.Id + ".jpg";
        <div class="panel panel-primary memberpanel">
            <div class="panel-heading">@houseHoldMemberModel.UserModel.UserName</div>
            <div class="panel-body">
                <div class="col-md-5">
                    <img src="@image" width="100" height="100" />
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            @Html.LabelFor(modelItem => model.FirstName):
                            @houseHoldMemberModel.UserModel.FirstName
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(modelItem => model.LastName):
                            @houseHoldMemberModel.UserModel.LastName
                        </div>
                    </div>
                </div>
        </div>
    }
    </div>