@model HouseHoldApp.MVC.Models.LoginUserModel
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="field">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
    </div>
    <div class="field">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
    <div class="field">
        <label>&nbsp;</label>
        <input type="submit" name="Register" title="Login" class="submitbutton" value="Login" />
    </div>
    
}
