<link href="../../Content/Signin.css" rel="stylesheet">
@model HouseHoldApp.MVC.Models.RegisterUserModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <h2 class="form-signin-heading">Register now!</h2>
        <div class="form-group">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First name" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name" })
        </div>
        <input type="file" name="userImage" id="userImage" style="width: 100%;" /> <br />
        <input type="submit" name="Register" class="btn btn-lg btn-primary btn-block" value="Register" />
    }
</div>